.blink {
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
.fourtyfive {
  transform: rotate(45deg);
}
.mirror {
  transform: rotate(180deg);
}
.schedule .entry {
  font-size: clamp(16px, 1.5vw, 24px);
}
.schedule .entry .entry-colour {
  background-color: var(
    --card-background-color-override,
    rgba(255, 255, 255, 0.07)
  );
  height: clamp(8px, 0.75vw, 12px);
  width: clamp(8px, 0.75vw, 12px);
  border-radius: 6px;
  display: inline-block;
}
.schedule .entry .entry-times {
  font-family: Open Sans, Segoe UI, sans-serif;
  color: var(--secondary-color-override, rgba(255, 255, 255, 0.45));
  font-weight: 300;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  gap: 8px;
}
.schedule .entry .entry-title,
.schedule .entry .entry-secondary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schedule .entry:not(:last-child) {
  padding-bottom: 8px;
}
.schedule .entry--past {
  color: var(--secondary-color-override, rgba(255, 255, 255, 0.45));
}
.schedule .entry--now .entry-title {
  color: var(--accent-color-override, #fa5656);
  font-weight: 600;
}
.schedule .entry.skip {
  text-decoration: line-through;
}
.schedule-nav {
  display: flex;
  justify-content: flex-end;
}
.schedule-nav .schedule-nav__item {
  background-color: var(
    --card-background-color-override,
    rgba(255, 255, 255, 0.07)
  );
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: 8px;
}
.schedule-nav .schedule-nav__item--selected {
  background-color: var(--color-override, rgba(255, 255, 255, 0.8));
}
.schedule {
  width: 100%;
  display: flex;
  border-spacing: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 10px;
}

.demnaechst{
  height: 1.3em;
}