._blink_14b86_1 {
  animation: _blink_14b86_1 1s step-start infinite;
}
@keyframes _blink_14b86_1 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
._fourtyfive_14b86_13 {
  transform: rotate(45deg);
}
._list_14b86_17 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
._swatch_14b86_23 {
  width: 2rem;
  height: 2rem;
  border-radius: 99px;
  border: 2px solid #262626;
  color: #f6f6f6;
  display: grid;
  place-content: center;
}
._swatch_14b86_23._selected_14b86_32 {
  border: 2px solid #578af4;
}
._swatch_14b86_23._selectable_14b86_35 {
  cursor: pointer;
}
._swatch_14b86_23._selectable_14b86_35:hover {
  border: 2px solid #afc4ff;
}
._blink_13czp_1 {
  animation: _blink_13czp_1 1s step-start infinite;
}
@keyframes _blink_13czp_1 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
._fourtyfive_13czp_13 {
  transform: rotate(45deg);
}
._input_13czp_17 {
  color: #e2e2e2;
  border: 1px solid transparent;
  border-radius: 0 0 8px 8px;
  background-color: #262626;
  padding: 0 0.5rem;
  font-size: 1rem;
  height: 2rem;
  outline: none;
}
._input_13czp_17:hover {
  background-color: #2d2d2d;
}
._input_13czp_17:focus {
  background-color: #404040;
  color: #f6f6f6;
  border: 1px solid #578af4;
}
