.blink {
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
.fourtyfive {
  transform: rotate(45deg);
}
.mirror {
  transform: rotate(180deg);
}
.title-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.title-card__title,
.title-card__secondary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-card__title {
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--color-override, rgba(255, 255, 255, 0.8));
  line-height: 1.3em;
}
.title-card__secondary {
  font-size: clamp(1rem, 2vw, 2.25rem);
  color: var(--secondary-color-override, rgba(255, 255, 255, 0.45));
  line-height: 1.2em;
}
.title-card__label {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: var(--secondary-color-override, rgba(255, 255, 255, 0.45));
  margin-left: auto;
  text-transform: uppercase;
}
.title-card__label--accent {
  color: var(--accent-color-override, #fa5656);
}
