._blink_1k2u1_1 {
  animation: _blink_1k2u1_1 1s step-start infinite;
}
@keyframes _blink_1k2u1_1 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
._fourtyfive_1k2u1_13 {
  transform: rotate(45deg);
}
._inline_1k2u1_17 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
._input_1k2u1_23 {
  color: #e2e2e2;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #262626;
  padding: 0 1rem;
  font-size: 1rem;
  height: 2.5rem;
  outline: none;
}
._input_1k2u1_23:hover {
  background-color: #2d2d2d;
}
._input_1k2u1_23:focus {
  background-color: #404040;
  color: #f6f6f6;
  border: 1px solid #578af4;
}
._blink_178ob_1 {
  animation: _blink_178ob_1 1s step-start infinite;
}
@keyframes _blink_178ob_1 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
._fourtyfive_178ob_13 {
  transform: rotate(45deg);
}
._drawerFooter_178ob_17 {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
._drawerFooter_178ob_17 button {
  padding: 0 2em;
}
._infoLabel_178ob_26 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #2d2d2d;
  border-radius: 2px;
  font-size: calc(1rem - 2px);
}
._infoLabel_178ob_26 svg {
  font-size: 1.5rem;
  color: #578af4;
}
._label_178ob_41 {
  font-size: calc(1rem - 2px);
  color: #b1b1b1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
._section_178ob_49 {
  color: #f6f6f6;
  font-size: 1rem;
}
._section_178ob_49:not(:first-child) {
  margin-top: 2rem;
}
._fieldSet_178ob_57 {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
._title_178ob_65 {
  font-size: calc(1rem - 2px);
  display: block;
  width: 100%;
}
._description_178ob_71 {
  font-size: calc(1rem - 2px);
  display: block;
  color: #6c6c6c;
}
